.slider-container {
  margin-bottom: 6px;
}
.slider-label {
  text-align: center;
  color: black;
  font-size: 15px;
  font-weight: 450;
}

.rc-slider-track {
  background-color: rgb(59, 126, 156);
}

.rc-slider-handle {
  // border: solid 2px #2eaae2;
  border: solid 2px rgb(59, 126, 156);
  background-color: #fff;
  width: 18px;
  height: 18px;
}

.rc-slider-step {
  background: rgba(0, 0, 0, 0.13);
}
