* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: 300;
  line-height: 1.4;
  //   word-break: break-word;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 1.8rem;
  color: #fff;
  //   background: #928a8a;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

ol {
  list-style: none;
  counter-reset: item;
  //   list-style-type: decimal-leading-zero;
}
li {
  counter-increment: item;
  margin-bottom: 5px;
}
li:before {
  margin-right: 10px;
  content: counter(item);
  background: #9ca0a2;
  padding: 4px 6px;
  border-radius: 11px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  align-self: center;
  white-space: nowrap;
  opacity: 0.5;
}

// ================================================================
// ================================================================

.container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  & section {
    // padding: 10px 40px;
    padding: 10px 20px;
    overflow-x: clip;
    margin-bottom: 120px;

    // @media screen and (max-width: 460px) {
    //   width: 75vw;
    // }
    @media screen and (min-width: 540px) {
      width: 85vw;
    }
    @media only screen and (min-width: 992px) {
      width: 768px;
    }

    & ol {
      margin-top: 10px;

      & li {
        display: flex;
      }
    }
  }

  //   background: linear-gradient(to bottom, #f2f2f2 0%, #333 100%);
  // background: linear-gradient(90deg, #ffffff 5%, #faf6f8 18%, #d3d8dd 49%, #91929c 90%);
}

.bar {
  padding: 10px;
  background: #008b8b;
  //   position: fixed;
  top: 0;
  border-radius: 5px;
  background: #b0a4a4;
  background: linear-gradient(90deg, #37343485 0%, #a8a8a8 61%, #f7f7f7 100%);

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.logo-wrapper {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.logo {
  width: auto;
  height: 65px;
  display: block;
  border: 1px solid green;
  border-radius: 5px;
  filter: drop-shadow(0px 3px 6px black);
  //   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

// ================================
.control-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 500px) {
    transform: scale(0.7);
  }
}
.control {
  display: flex;
}
.control-playback {
}
.playback-button {
  padding: 0;
  outline: none;
  box-shadow: 2px 1px 8px -1px black;
  text-align: center;
  width: 50px;

  border-radius: 10px;
  border: 1px solid #6d676796;
  background-color: #bbb3b32b;
  box-shadow: 2px 1px 8px -1px black;

  width: 170px;

  &:hover,
  &:active {
    cursor: pointer;
    background-color: rgba(187, 179, 179, 0.267);
    box-shadow: 1px 1px 4px -1px black;
    position: relative;
    top: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba(187, 179, 179, 0.167);
    position: relative;
    top: 0;
  }

  img {
    height: 33px;
    width: auto;
    transform: translateY(4px);
  }
}

.voice-group {
  margin: 0 18px;

  //   anything above 924px
  @media only screen and (min-width: 924px) {
    width: 290px;
  }
  //   anything below 924px
  @media only screen and (max-width: 924px) {
    width: 30vw;
  }

  //   anything below 768px
  @media only screen and (max-width: 768px) {
    width: 28vw;
  }
  @media only screen and (max-width: 500px) {
    width: 40vw;
  }
}
.control-voice {
  flex: 1;
  height: 45.5px;

  & > div:first-of-type {
    border-radius: 10px;
    border: 1px solid rgba(109, 103, 103, 0.589);
    background-color: rgba(187, 179, 179, 0.167);
    box-shadow: 2px 1px 8px -1px black;

    &:hover,
    &:active {
      background-color: rgb(255, 255, 255);
      cursor: pointer;
    }

    & > div:first-of-type {
      padding: 0px 8px;
      height: 44.5px;
    }

    input {
      color: black;
      font-weight: 500;
      font-size: 15px;
    }
  }

  div[class$='singleValue'] {
    padding: 0 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }

  div[class$='menu'] {
    color: rgb(17, 16, 16);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(109, 103, 103, 0.589);
    background-color: rgb(225, 226, 225);
    box-shadow: 2px 1px 8px -1px black;

    ::-webkit-scrollbar {
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      background-color: rgba(109, 103, 103, 0.589);
    }

    div {
      font-weight: 600;
      font-size: 15px;
      div:nth-child(odd) {
        background-color: rgba(109, 103, 103, 0.589);
        color: black;
      }
      div:hover {
        background-color: rgb(51, 51, 51);
        color: white;
      }
    }
  }
}

.control-speed {
  background-color: red;
  width: 200px;
  height: 30px;
}

.file-reader__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 10px;
  //   padding: 18px;

  @media screen and (min-width: 600px) {
  }
}
.file-reader {
  border-radius: 8px;
  outline: none;
  position: relative;
  top: 3px;

  &:hover,
  &:active {
    cursor: pointer;
    // box-shadow: 1px 1px 4px -1px black;
    top: 5px;

    @media screen and (max-width: 768px) {
      top: 16px;
    }
  }

  ._react-file-reader-input {
    width: 50px;
    height: 55px;
    border-radius: 8px;

    img {
      height: 100%;
      background-color: rgba(15, 95, 55, 0);
      filter: drop-shadow(0px 3px 2px black);
    }
  }
}

// ========================================
.activeWordHighlightStyle {
  background: #2ea806;
  color: black;
  font-weight: bold;
  padding: 3px;
  border-radius: 4px;

  // transition: background 5s ease;
}
.highlightStyle {
  background-color: #fad961;
  background-image: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);

  color: #060104 !important;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.lower-panel {
  position: fixed;
  top: calc(100vh - 120px); /* view height - panel height*/
  left: 50%;
  transform: translateX(-50%);
  background: #171515;
  padding: 4px;
  border-radius: 5px;

  & > div {
    display: flex;
    justify-content: space-around;
    font-size: 14px;

    & img {
      height: 33px;
      width: auto;
      transform: translateY(3px);
    }
  }
}

.scrollButton,
.srsMode,
.scroll-to-top,
.backButton,
.forwardButton {
  height: 40px;
  width: 100px;
  background: #f8c045;
  color: #173f0f;
  font-weight: bold;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 2px 1px 8px -1px black;
  //   opacity: 0.4;
  white-space: nowrap;
}

.srsMode,
.backButton,
.forwardButton {
  background: #008b8b;
}
.scroll-to-top {
  background: #008b8b;
}
.scrollButton:hover,
.srsMode:hover,
.scroll-to-top:hover,
.backButton:hover,
.forwardButton:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateY(2px);
}

.activeGroupHighlightStyle {
  background: #21211d !important;
  box-shadow: rgba(234, 224, 224, 0.74) 0px 5px 15px;
  transform: scale(1.05);
  transition: all 0.5s;
}

.group_style {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  overflow: hidden;
}
.group_style:nth-child(odd) {
  background: #3a3233;
}
.group_style:nth-child(even) {
  background: #3a323380;
}
.sentence_style {
  color: rgb(186, 234, 54);
  font-weight: 400;
  margin-bottom: 3px;
  padding-bottom: 3px;
  font-size: 16px;
}
.translation_style {
  color: lime;
  font-size: 20px;
}

.info-container {
  .exampleButton {
    height: 20px;
    width: 100px;
    background: #c7c5c2;
    color: #173f0f;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 2px 1px 8px -1px black;
    white-space: nowrap;
  }

  p,
  a {
    color: #008b8b;
    font-size: 12;
  }
}

.sentence-item {
  width: 100%;
  overflow-x: hidden;
}

.word-definition {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0000002e;

  .tag-container {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;

    .word {
      margin-right: 5px;
    }
    .tags {
      margin: 3px;
      padding: 3px;
      border-radius: 3px;
      font-size: 10px;
      font-weight: 500;
      // word-break: break-all;
      // overflow-wrap: break-word;
    }
    .word-partOfSpeech {
      background: #ff000089;
      color: #ffffff;
    }
    .word-translations {
      background: #1e4444;
      color: #ffffff9c;
    }
    & > .word-translations {
      border: 1px solid #fff2008c;
    }

    & > .word-translations ~ .word-translations {
      border: none;
    }
  }
}

//   anything below 768px
@media only screen and (max-width: 768px) {
  .sentence_style,
  .translation_style {
    font-size: 12px;
  }
  .word-definition {
    .tag-container {
      .tags {
        font-size: 7px;
        margin: 1px;
        padding: 2px;
      }
    }
  }
}

.card-buttons__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;

  .card-buttons {
    height: 40px;
    width: 100%;
    background: #f8c045;
    color: #173f0f;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #000;
    box-shadow: 2px 1px 8px -1px black;
    // opacity: 0.4;
    white-space: nowrap;

    img {
      height: 33px;
      width: auto;
      -webkit-transform: translateY(3px);
      transform: translateY(3px);
    }
    &:first-of-type {
      img {
        height: 26px;
        width: 26px;
      }
    }
  }

  .card-buttons:hover {
    opacity: 1;
    cursor: pointer;
    transform: translateY(2px);
  }

  .card-buttons__inactive:hover {
    cursor: not-allowed;
  }
}

// ==============================
.progress-bar {
  position: fixed;
  z-index: 50;
  height: 8px;
  width: 100%;
  border-radius: 10px;
  background-color: #6b696b;
  box-shadow: -2px 4px 10px 0px rgba(0, 0, 0, 0.75);

  & > div {
    width: 0%;
    transition: width 1s ease 0s;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 5px solid #000;
    background: #031ea7cc;
    // background: radial-gradient(circle, #031ea7cc 0, #ece1e3cc 100%);
    background: radial-gradient(circle, #96dbfa 0, #000c 100%);
    background-size: 7px 100%;
    animation: Animation 15s linear infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  //   anything below 768px
  @media only screen and (max-width: 768px) {
    height: 5px;
    & > div {
      background-size: 4px 100%;
    }
  }
}

@keyframes Animation {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
